body{
    font-family:'Lato',sans-serif;
}
a {
    color: black;
}
.center-inner{
    background:#ef5138;
    text-align:left;
    max-width:800px;
    padding: 20px;
    
}
.footer{
    list-style:none;
    -webkit-padding-start: 0px;
}
@media (max-width: 1000px) {
    .center{}
    .center-inner{left:25%;top:5%;position:absolute;width:50%;}
}
@media (min-width: 1000px) {
    .center{left:50%;top:5%;position:absolute;}
    .center-inner{width:500px;height:100%;margin-left:-250px;}
}
